@import '~node_modules/modern-normalize/modern-normalize.css';
body {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
.search-form {
  // background-color: aquamarine;
  background-color: #0093e9;
  background-image: linear-gradient(160deg, #0093e9 0%, #80d0c7 100%);

  padding-bottom: 20px;
  padding-top: 20px;
  display: block;
  padding-left: 100px;
}
button {
  background-color: rgb(239, 191, 174);
  color: rgba(27, 156, 156, 0.673);
  font-weight: 900px;
  cursor: pointer;
  border-radius: 20px;
  border-color: aquamarine;
}
input {
  border-radius: 20px;
  padding-left: 5px;
  border-color: aquamarine;
}
.gallery {
  display: flex;
  flex-wrap: wrap;
  // display: grid;
  // grid-template-columns: 25% 25% 25% 25%;
  // grid-template-rows: auto;
  align-items: center;
  justify-items: center;
}
.photo-card {
  align-items: center;
  justify-items: center;
}
.small-photo {
  width: 300px;
  height: auto;
  aspect-ratio: 4 / 3;
  padding: 5px;
}
.info {
  display: grid;
  grid-auto-flow: column;
  column-gap: 10px;
}
.info-item {
  display: grid;
  font-size: 12px;
  row-gap: 5px;
  column-gap: 10px;
}
.load-more {
  display: block;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 30px;
}
